*{
    font-family: 'Verdana';
    padding: 0;
    margin: 0;
    border: blue dotted 1px;
}

/* Site header */

.site-header{
    position: fixed;
    background-color: #FFFFFF;
    width: 100%;
    /* display: flex; */
}

.site-header__nav{
    display: flex;
    justify-content: space-between;
}

.site-header__logo{
    color: #335576;
    text-decoration: none;
    display: inline-flex;
}
.site-header__logo a{
    color: #335576;
    text-decoration: none;
    justify-items: flex-start;    
}

.site-header__nav-links{
    display: inline-block;
    flex-direction: row;
}

.site-header__nav-links ul{
    display: inline;

}

.site-header__nav-links-link{
    padding: 1rem;
    list-style: none;
    display: inline-block;
}

.site-header__nav-links-link a{
    list-style: none;
    text-decoration: none;
    color: black;

}

.site-header__nav-links-link--active-page{
    
    border-bottom: 0.3rem solid #DB7A4E;

}

.hero{
    background-color: #FEFAF5;
}